@font-face {
  font-family: Arial, sans-serif;
  src: local("Arial");
  src: url("fonts/ArialMT.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Arial, sans-serif;
  src: local("Arial");
  src: url("fonts/Arial-BoldMT.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica", sans-serif;
  src: local("Helvetica");
  src: url("fonts/helvetica-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Roboto, sans-serif;
  src: local("Roboto");
  src: url("fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
  /* transition: all 0.3s; */
  /* outline: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  box-sizing: border-box;
  letter-spacing: 0.01em;
  color:#3E4857;
  /* background-color: #E5E5E5; */
  background-color: #ffffff;
}
.container {
  text-align: center;
}
.title {
  font-family: Arial, sans-serif;
  font-weight: 700;
}
.title--lvl2 {
  font-size: 25px;
  text-align: center;
  margin: 15px 0 20px;
}
.btn {
  padding: 15px 30px;
  border: 0;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #67AC5B;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.header {
  width: 100%;
  height: 0;
  display: block;
  position: relative;
}
.main {
  background-color: #040013;
  background-image: linear-gradient(90deg, #040013 0%, #42063F 54.31%, #3A047D 99.9%);
  color: #ffffff;
  text-align: left;
}
.main .container {
  background: url('img/qr-main__1x.png') right bottom no-repeat;

}
.main__block {
}
.main__block--content {
  text-align: left;
}
.main__title {
  display: inline-block;
  margin: 138px 0 15px;
  font-size: 53px;
  width: 45.8%;
  text-align: left;
}

.main__text {
  width: 33%;
  font-size: 17px;
}
.main__btn {
  margin: 0 0 137px;
}

.about {
  padding: 25px 0 50px;
}
.about__text {
  padding: 10px;
}
.about__title {
}
.about__list {
  align-items: start;
  justify-content: center;
  padding-bottom: 55px;
}

.list__item {
  max-width: 360px;
  position: relative;
}
.list__text {
  padding: 110px 20px 0;
  font-size: 17px;
}
.list__text::before {
  content: '';
  position: absolute;
  width: 90px;
  height: 90px;
  top: 0;
  left: calc(50% - 45px);
  background: center center no-repeat;
}
.list__text--exchange::before {
  background-image: url('img/exchange.svg');
}
.list__text--social::before {
  background-image: url('img/social-media.svg');
}
.list__text--qrlbl::before {
  background-image: url('img/qr-code_on_lbl.svg');
}
.list__text--qrfb::before {
  background-image: url('img/qr-code_on_fb.svg');
}
.list__text--qrpage::before {
  background-image: url('img/qr-code_scan.svg');
}


.more {
  background-color: #E5E5E5;
}
.more .container {
  display: flex;
  justify-content: space-around;
}
.more__block {
  padding: 24px 10px 25px;
  width: 45%;
}


/*  ? How how__text--left*/
.how {
}
.wrapper {
  margin-bottom: 87px;
}
.wrapper--col .how__title {
  width: 80%;
  text-align: left;
}
.wrapper--col {
  display: flex;
  justify-content: space-around;
}
.wrapper__half-size {
  width: 49%;
  padding: 10px;
}
.how__text {
  text-align: left;
}
.text--center {
  text-align: center;
}
.how__container {
}
.faq {
}
.faq__title {
}
.faq__list {
  justify-content: space-between;
  margin-bottom: 100px;
  transition: all 0.5s ease;
}
.faq__item {
  width: 46.5%;
  text-align: left;
}
.faq__answer {
  transition: all 0.5s linear;
  margin-bottom: 60px;
  font-size: 17px;
  position: relative;
}

.faq__question {
  position: relative;
  margin-bottom: 25px;
  padding-right: 30px;
  font-size: 20px;
  list-style: none;
  border-bottom: 1px solid #C9C9C9;
  transition: all 0.5s linear;
}
.faq__answer[open] {
  /* padding: .5em; */
  color: #3E4857;
  /* border-bottom: 1px dashed green; */
}

.faq__answer[open] .faq__question {
  /* background-color: green; */
  color: #D63864;
  /* margin-bottom: .5em; */
}
.faq__question::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  bottom: 10px;
  right: 10px;
  transform: rotate(315deg);
  transition: all .1s linear;
}
.faq__answer[open] .faq__question::before {
  transform: rotate(135deg);
  bottom: 5px;
}

@media (max-width: 1199px) {

  .main__title {
    width: 100%;
  }
  .main__text {
    width: 50%;
  }
  .main__btn {
    margin-bottom: 400px;
  }
  .list__item {
    width: 49%;
  }
  .more .container {
    flex-direction: column;
  }
  .more__block {
    width: auto;
  }
}
@media (max-width: 991px) {
  .main .container {
    background-size: 720px 417px;
    background-position-x: center;
  }
  .main__block--content {
    text-align: center;
  }
  .main__title {
    width: 100%;
    margin-top: 75px;
    text-align: center;
  }
  .main__text {
    width: 100%;
  }
  .main__btn {
    margin-bottom: 500px;
  }
}


@media (max-width: 767px) {
  .main .container {
    background-size: 320px 185px;
    background-position-x: center;
  }
  .main__block--content {
    text-align: center;
  }
  .main__title {
    width: 100%;
    margin: 58px 0 50px;
    font-size: 33px;
  }
  .main__text {
    width: 100%;
  }
  .main__btn {
    margin-bottom: 200px;
  }
  .list__item {
    width: auto;
  }
  .wrapper--col {
    flex-direction: column;
  }
  .wrapper__half-size {
    width: auto;
  }
  .faq__item {
    width: 100%;
  }
}
